{
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "assets": "./app/assets",
        "modules": "./modules",
        "styles": "./modules/styles"
      }
    }]
  ]
}